<html>
<head>
    <title>App</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic"
          rel="stylesheet">
</head>
<body>
<div id="app">
    <div class="wrapper">
        <div class="wrapper_form">
            <div class="breadcrumbs">
                <ul>
                    <li v-bind:class="{ 'active':(step === 1)}">
                        <a href="#" @click="step = 1">Order details</a>
                    </li>
                    <li v-bind:class="{'active':(step === 2)}">
                        <a href="#" @click="step = 2">Address & shipping</a>
                    </li>
                    <li v-bind:class="{'active':(step === 3)}">
                        <a href="#" @click="step = 3">Success</a>
                    </li>
                </ul>
            </div>
            <h2 class="header_h2">Checkout</h2>
            <div class="wrapper_form__grid">
                <div class="wrapper_form__left">
                    <div class="left__image">
                        <div class="image_box">
                            <img src="img/677.png" alt="">
                        </div>
                        <div class="image__desc">
                            <p>Bird Dog Kentuky<br>Bourbon</p>
                            <p>750ml<br>Bourbon</p>
                            <a href="#" class="delete_link">DELETE ORDER</a>
                        </div>
                    </div>
                    <div class="left__information">
                        <div class="information_row">
                            <p>Quantity</p>
                            <p>
                                <select name="" id="" v-model="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </p>
                        </div>
                        <div class="information_row">
                            <p>Subtotal</p>
                            <p>{{currency}}{{subTotalPrice()}}</p>
                        </div>
                        <div class="information_row">
                            <p>Shipping & handing</p>
                            <p>{{currency}}{{shipping}}</p>
                        </div>
                        <div class="information_row">
                            <p>Tax</p>
                            <p>{{currency}}{{tax}}</p>
                        </div>
                        <div class="information_hr"></div>
                        <div class="information_row">
                            <p>Total</p>
                            <p>{{currency}}{{totalPrice()}}</p>
                        </div>
                    </div>
                </div>
                <div class="wrapper_form__right">
                    <span style="display: none">{{message}}{{step}}</span>
                    <div v-if="step == 1" v-bind:class="class2">
                        {{validate()}}
                        <div class="form_group">
                            <label for="name"><span>Name</span>
                                <input type="text" id="name" class="form_control" :class="{error: name.length < 2}" v-model="name"></label>
                        </div>
                        <div class="form_group">
                            <label for="phone"><span>Phone</span>
                                <input type="text" id="phone" placeholder="+38(099)999-99-99" class="form_control" :class="{error: phone.length < 2}" v-model="phone"></label>
                        </div>
                        <div class="form_group">
                            <label for="email"><span>Email</span>
                                <input type="text" id="email" class="form_control" :class="{error: email.length < 2}" v-model="email"></label>
                        </div>
                        <div class="form_group">
                            <label for="field1"><span>Field 1</span>
                                <input type="text" id="field1" class="form_control" :class="{error: field1.length < 2}" v-model="field1"></label>
                        </div>
                        <div class="form_group">
                            <label for="field2"><span>Field 2</span>
                                <input type="text" id="field2" class="form_control" :class="{error: field2.length < 2}" v-model="field2"></label>
                        </div>
                    </div>
                    <div v-else-if="step == 2" v-bind:class="class2">
                        <div class="form_group">
                            <label for="address"><span>Address</span>
                                <input type="text" id="address" class="form_control"></label>
                        </div>
                        <div class="form_group">
                            <label for="city"><span>City</span>
                                <input type="text" id="city" class="form_control"></label>
                        </div>
                        <div class="form_group">
                            <label for="postcode"><span>Postcode</span>
                                <input type="text" id="postcode" class="form_control"></label>
                        </div>
                        <div class="form_group">
                            <label for="field1"><span>Field 1</span>
                                <input type="text" id="field1" class="form_control"></label>
                        </div>
                        <div class="form_group">
                            <label for="field2"><span>Field 2</span>
                                <input type="text" id="field2" class="form_control"></label>
                        </div>

                    </div>
                    <div v-if="step == 3">
                        {{textdone}}
                        <div class="form_group">
                            <a v-if="step == 3" v-bind:href="link1">текст</a>
                        </div>
                    </div>
                    <div class="flex_btn__wrap">
                        <button v-if="step > 1 && step <=3" v-on:click="step-=1" class="btn_default">prev</button>
                        <button v-if="step < 3" v-on:click="step+=1; link1 = 'url2'" class="btn_default">next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/vue.js"></script>
<script src="js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>